# Lists

In [1]:
a=[1,2,3]
type(a)

list

In [2]:
#creating an empty list
a1= list()
a1

[]

In [4]:
# copying a list
a2= list(a)
a2

[1, 2, 3]

In [6]:
#another way of  creating a list
a3= list([1,2,3,4,5,6])
a3

[1, 2, 3, 4, 5, 6]

In [7]:
# creating an array using range

a4= [ 0 for i in range(10)]
#for every i print 0 at that position
a4

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [9]:
a5 = [i+1 for i in range(10)]
a5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
a6 = [i for i in range(10)]
a6

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a7= [ (i+1) *i for i in range(10)]
a7

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90]

In [14]:
#printing list of square of every number that present in the list

a8 = [ i*i for i in range(10)]
a8

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

__a list need not have same kind of data__

In [15]:
a9 = [1,2, "Asif", True]
a9

[1, 2, 'Asif', True]

In [24]:
# how to access data
print(a9[-1])
print(a6[-4])

-2
6

In [26]:
# Slicing of list
a8[2:6]

[4, 9, 16, 25]

_It gives list from starting to (end-1)_

In [27]:
# calculating length of a list
len(a8)

10

In [31]:
# fast iteration
for i in a8:
    print(i, end "")

SyntaxError: invalid syntax (<ipython-input-31-222ad4c12b89>, line 3)

In [39]:
str = "a b c d"
str.split(" ")

['a', 'b', 'c', 'd']

_space k around split hogi_

__Ya jo bhi split a ander de rakha hoga__

In [41]:
str = input().strip()
str

  1 2 345 67

'1 2 345 67'

__start and end k spaces ko hta dega that strip()__

In [47]:
# a little more explained code
str = input().strip()
list1 = str.split(" ")

for i in range(0, len(list1)):
    list1[i]= int(list1[i])
list1

12 3 4 5

[12, 3, 4, 5]

In [45]:
# One line for taking array input
l = [  int(x) for x in input().strip().split()]
l

  1234 456765432 123452 112343 2343 212343 1232 12343 2123 123 1234 212343 21234

[1234,
 456765432,
 123452,
 112343,
 2343,
 212343,
 1232,
 12343,
 2123,
 123,
 1234,
 212343,
 21234]

## how to add, delete element and some other function

In [60]:
# add element in a list
l1 = [1,2,3,'ac']
l1.append(1)
l1
# append will add element at the end of the list

[1, 2, 3, 'ac', 1]

In [61]:
# adding at some desired position
l1.insert(2, 1000)
l1
# rest of the element will right shift

[1, 2, 1000, 3, 'ac', 1]

In [63]:
l2 = [9,8,7,6]
l1.extend(l2)
l1

[1, 2, 1000, 3, 'ac', 1, 9, 8, 7, 6]

In [64]:
l1.pop() # without argument it will going to remove last element

6

In [65]:
l1

[1, 2, 1000, 3, 'ac', 1, 9, 8, 7]

In [66]:
l1.pop(4) # removing element at desired index
l1

[1, 2, 1000, 3, 1, 9, 8, 7]

In [67]:
l1.remove(1000) # removing first occurence of the desired element
l1

[1, 2, 3, 1, 9, 8, 7]

In [68]:
del l1[3] #removing the element at desired index
l1

[1, 2, 3, 9, 8, 7]

In [69]:
# addition of list with int is not okay

# multiplication of list with int is okay

l1*2

[1, 2, 3, 9, 8, 7, 1, 2, 3, 9, 8, 7]

In [71]:
# sorting list in an ascending order
l3 =[ 2,1,4,3,5,6,9,8,7,0,9]
l3.sort()
l3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [72]:
# count will tell us the number of times that ekement in an list occur
l3.count(9)

2

In [73]:
# reversing the element of a list

l3.reverse()
l3

[9, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [76]:
# returning a boolean if the element is present in a list or not
10 in l3

False

##  Bubble Sort

In [84]:
l5= [9,8,7,6,5,4,3,2,1]

n= len(l5)

for j in range(n-1):
    for i in range(0, n-1-j):
        if(l5[i] > l5[i+1]):
            temp= l5[i]
            l5[i] = l5[i+1]
            l5[i+1]= temp
        else:
            i=i+1
print(l5)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionaries

_they are (key:value) pair and can contain strings, integer, complex number, tuple et cetra._

In [86]:
d= {}
d[15]= "Asif"
d

{15: 'Asif'}

In [88]:
d["Nasim"]= 7
d

{15: 'Asif', 'Nasim': 7}

In [91]:
d={3: 3+2j, "nafees":"alam"}
d

{3: (3+2j), 'nafees': 'alam'}

__A list can never be a dictionary key__

_It means keys are immutable and immutable objects are(int,str, float, tuple)_

In [93]:
#how to iterate over a dictionary

for i in d:
    print(i, end= ":")
    print(d[i])

3:(3+2j)
nafees:alam

In [94]:
# deleting a key value pair in dictionary

del d[3]

In [96]:
d

{'nafees': 'alam'}

_we can add something but cannot access, if the key value pair is not present_

In [97]:
# common Functions 
d1={}
d2={}
d1==d2

# we can compare two dictionaries

True

In [98]:
# len() tells us the number of key present in a dictionary

len(d1)

0

In [99]:
d.clear()
d
# it will clear the content of dictionaries

{}

In [100]:
d1={1:2,3:4,5:6}

print(d1.keys())
print(d1.values())

#it will behave like a list

dict_keys([1, 3, 5])
dict_values([2, 4, 6])

In [101]:
# to check whether a key is present in a dictionary or not
3 in d1

True